<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>H2Flow</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/style.css">

</head>

<body ng-app="myapp">


<!-- Static navbar -->
<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand" href="#">H<sub>2</sub>Flow</div>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Catherine</a></li>     
      <li><a class="navbar-brand" href="http://disputebills.com"><img src="https://cdn2.iconfinder.com/data/icons/lil-faces/328/lil-face-3-512.png" style="height: 20px;">
        </a></li>      
    </ul>
  </div>
</nav>


<div class="container" ng-controller="IndexController">
  <div class="panel panel-primary">
    <div class="panel-heading">Local data requests</div> 
    <div class="panel-body">
      <iframe width="315" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-122.00660705566408%2C47.74994304216887%2C-121.76559448242189%2C47.88780176702125&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/>
      <h4>We <span style="color: green;font-weight: bold;">share</span> because we <span style="color:deeppink;font-weight: bold;">care</span></h4>
    </div>
    <div class="col-xs-12 cta-box">
      <div>Is an algae bloom visible?</div>
      <div style="float: right;">
        <button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-ok"></span> Yes</button>
        <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span> No</button>
        <button type="button" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-info-sign"></span> Info</button>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="col-xs-2"><button type="button" class="btn btn-primary btn-sm btn-block">Map</button></div>
    <div class="col-xs-2"><button type="button" class="btn btn-primary btn-sm btn-block">Search</button></div>
    <div class="col-xs-4"><button type="button" class="btn btn-primary btn-sm btn-block">New Report</button></div>
    <div class="col-xs-2"><button type="button" class="btn btn-primary btn-sm btn-block">Msgs</button></div>
    <div class="col-xs-2"><button type="button" class="btn btn-primary btn-sm btn-block">Me</button></div>    
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js",type="application/javascript"></script>

<script src="javascripts/app.js",type="application/javascript"></script>
<script src="javascripts/controllers.js",type="application/javascript"></script>
<script src="javascripts/directives.js",type="application/javascript"></script>

</body>
</html> 
