<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>H2Flow</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/style.css">

</head>

<body ng-app="myapp">


<!-- Static navbar -->
<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand" href="#">H<sub>2</sub>Flow</div>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Catherine</a></li>     
      <li><a class="navbar-brand" href="http://disputebills.com"><img src="https://cdn2.iconfinder.com/data/icons/lil-faces/328/lil-face-3-512.png" style="height: 20px;">
        </a></li>      
    </ul>
  </div>
</nav>


<div class="container" ng-controller="IndexController">
  <div class="panel panel-primary">
    <div class="panel-heading">Local data requests</div> 
    <div class="panel-body" >
    
      <div class="col-xs-12">
        <div class="well" style="max-height: 300px;overflow: auto;">
          <form>
            <h3 class="text-center">Marten Lake requests</h3>
            <div class="form-check">
              <label>
                <input type="checkbox" name="check"> <span class="label-text">Spotted marmot</span>
              </label>
            </div>
            <div class="form-check">
              <label>
                <input type="checkbox" name="check"> <span class="label-text">Sickly pricklies</span>
              </label>
            </div>
            <div class="form-check">
              <label>
                <input type="checkbox" name="check" checked> <span class="label-text">Marred chard</span>
              </label>
            </div>
            <div class="form-check">
              <label>
                <input type="checkbox" name="check"> <span class="label-text">Rotten cotton</span>
              </label>
            </div>
          </form>
        </div>
      </div>
      
      <div class="col-xs-12">
        <div class="well" style="max-height: 300px;overflow: auto;">
          <form>
            <h3 class="text-center">Crystal Heights requests</h3>
            <div class="form-check">
              <label>
                <input type="checkbox" name="check"> <span class="label-text">Mountain tigers</span>
              </label>
            </div>
            <div class="form-check">
              <label>
                <input type="checkbox" name="check"> <span class="label-text">Snared bear</span>
              </label>
            </div>
            <div class="form-check">
              <label>
                <input type="checkbox" name="check"> <span class="label-text">Truffle trouble</span>
              </label>
            </div>
            <div class="form-check">
              <label>
                <input type="checkbox" name="check"> <span class="label-text">Angry bees</span>
              </label>
            </div>
          </form>
        </div>
      </div>
          
    </div>
  </div>
</div>

<footer></footer>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js",type="application/javascript"></script>

<script src="javascripts/app.js",type="application/javascript"></script>
<script src="javascripts/controllers.js",type="application/javascript"></script>
<script src="javascripts/directives.js",type="application/javascript"></script>


</body>
</html> 
