.container {
  max-width: 375px;
}

a {
  color: #00B7FF;
}

div.col-xs-2 {
  padding-left: 1px;
  padding-right: 1px;
}
div.col-xs-4 {
  padding-left: 1px;
  padding-right: 1px;
}

div.cta-box {
    font-weight: bold;
    border-radius: 25px;
    background: #73AD21;
    padding-top: 15px; 
    padding-bottom: 15px; 
    padding-left: 20px; 
    padding-right: 20px; 
    //height: 75px; 
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom: 60px;
}

.footer {
    background: #73AD21;
    height:24px; // Replace with the height your footer should be
    width: 100%; // Don't change
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
//    left: 0pt;
    z-index: 1;
}   


